<div class="container my-4">
  <div class="row">
    <div class="col-md-8 offset-md-2 ">
      <div class="card">
        <div class="card-body">
          <form #signup="ngForm" (ngSubmit)="onSignUp()">
            <ng-container ngModelGroup="userDetails">
              <div class="form-group">
                <label for="userName">UserName</label>
                <input 
                (keyup)="onUserNamekeyup($event)"
                minlength="8" maxlength="12" #userName="ngModel" pattern="[a-zA-Z]+" ngModel name="userName" required id="userName" class="form-control">

                <strong *ngIf="userNMaxLFlag"  class="text-danger">maxlength of userName should be 12 character</strong>
  
                <strong class="text-danger" *ngIf="userName.touched && userName.hasError('required')">UserName is a required field </strong>
  
                <ng-container *ngIf="userName.dirty">
                  <strong  class="text-danger" *ngIf="userName.hasError('minlength')">minlength of userName should be 8 character</strong>
                  <strong  class="text-danger" *ngIf="userName.hasError('pattern')">Invaild Pattern</strong>
                </ng-container>
  
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input #email="ngModel" 
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                 ngModel name="email" id="email" required class="form-control">
  
                <strong class="text-danger" *ngIf="email.touched && email.hasError('required')">Email is a required field </strong>
  
                <strong  class="text-danger" *ngIf="email.dirty && email.hasError('pattern')">Invaild Pattern</strong>
  
              </div>

            </ng-container>
      
            <div class="form-group">
              <label for="secretQuestion">Secret Question</label>
              <select #secretQuestion="ngModel" name="secretQuestion" required ngModel id="secretQuestion" class="form-control">
                <option value="favouritebook">favourite Book</option>
                <option value="favouritesport">favourite Sport</option>
              </select>

              <strong class="text-danger" *ngIf="secretQuestion.touched && secretQuestion.hasError('required')">SecretQuestion is a required field </strong>


            </div>
            <div class="form-group">
              <label for="answer">Answer</label>
              <input #answer="ngModel" ngModel name="answer" required  id="answer" class="form-control">

              <strong class="text-danger" *ngIf="answer.touched && answer.hasError('required')">Answer is a required field </strong>
            </div>
            <div class="form-group">
              <label for="isSubscribe"> 
                <input id="isSubscribe" ngModel name="isSubscribe" type="checkbox"> Subscribe For Daily Emails
              </label>
            </div>
            <div class="form-group ">
              <label for="mocPhone"></label>
              <input id="mocPhone" value="Phone" ngModel name="moc" type="radio">Phone
              <label for="mocEmail"></label>
              <input id="mocEmail" value="Email" ngModel name="moc" type="radio">Email
            </div>
            
            <button
            [disabled]="signup.invalid"
            class="btn btn-sm btn-block btn-primary">Sign Up</button>
            <button type ="button" (click)="onEdit()" class="btn btn-sm btn-block btn-primary">Patch Info</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- [disabled]="signup.invalid" -->